@import url(bootstrap.css);
@import url(react-datetime.css);

/* Charts/Panels */

div.stats-page {
  width: 100%;
}

form.chart-panel {
  margin: 4px 0px;
  padding: 4px 0px;
  width: 100%;
}

form.chart-panel p.help {
  margin: 0px 0px;
  font-size: 0.85em;
}

form.chart-panel.form-inline .form-group {
  margin: 8px 16px 8px 0px;
  /*
  display: block;
  float: left;
  */
}

.reports h3 {
  margin: 8px 0px;
}

.reports h3 span.delimiter {
  font-weight: bolder;
  font-size: 1.4em;
}

.chart-panel .dropdown.select-timespan button > span.text {
  width: 5.5em;
}

.chart-panel .dropdown.select-granularity button > span.text {
  width: 5em;
}

.chart.portal {
  /*
  width: 550px;
  height: 300px;
  */
  margin: 5px 0px;
  padding: 5px 0px;
  background-color: #fff;
  border: solid 1px silver;
}
